{% extends 'base.html' %}
{% load static %}

{% block content %}
  <!-- Jumbotron -->
  <div id="intro" class="p-5 text-center bg-light">
    <h1 class="mb-3 h2">Welcome to 470 Virtual Library</h1>
    <p class="mb-3">Buy or Take on Rent, Whatever you like!</p>
    <a class="btn btn-primary m-2" href="#!" role="button" rel="nofollow"
      target="_blank">Start exploring</a>
    {% comment %} <a class="btn btn-primary m-2" href="{% url 'register' %}" target="_blank"
      role="button">Sign up</a> {% endcomment %}
  </div>
  <!-- Jumbotron -->

  <!--Main Navigation-->
  <!--Main layout-->
  <main class="my-5">
    <div class="container">
      <!--Section: Content-->
      <section>
        <div class="container py-5">
          <div class="row">
            {% for book in books %}
            <div class="col-md-12 col-lg-4 mb-4 mb-lg-0">
              <div class="card">
                <div class="d-flex justify-content-between p-3">
                  
                </div>
                {% if book.cover_photo %}
                <img src="{{ book.cover_photo.url }}" class="card-img-top" width=100px alt="Laptop" />
                {% else %}
                <img src="{% static 'assets/images/book-default.jpeg' %}" class="card-img-top" alt="Laptop" />
                {% endif %}
                <div class="card-body">
                  <div class="d-flex justify-content-between">
                    <p class="small"><a href="#!" class="text-muted">
                      {% if book.category %}
                      {{ book.category }}
                      {% else %}
                      Uncategorized
                      {% endif %}
                      </a></p>
                    {% comment %} <p class="small text-danger"><s>$1099</s></p> {% endcomment %}
                  </div>
      
                  <div class="d-flex justify-content-between mb-3">
                    <h5 class="mb-0">{{book.title}}</h5>
                    <h5 class="text-dark mb-0">Tk.{{book.rent}}/mo</h5>
                  </div>
      
                  <div class="d-flex justify-content-between mb-2">
                    <p class="text-muted mb-0">Available from: <span class="fw-bold">
                      {% if book.status == 'available' %}
                        Now
                      {% elif book.status == 'sold' %}
                      Not Available
                      {% else %}
                      {{book.available_on}}
                      {% endif %}

                    </span></p>
                    <div class="ms-auto text-warning">
                      {{book.avg_rating|floatformat}}
                      <i class="fa fa-star"></i>
                      {% comment %} 
                      <i class="far fa-star"></i>
                      <i class="fas fa-star-half-alt"></i>
                      {% endcomment %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </section>
      <!--Section: Content-->

      <!-- Pagination -->
      <nav class="my-4" aria-label="...">
        <ul class="pagination pagination-circle justify-content-center">
          <li class="page-item">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item active" aria-current="page">
            <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
          </li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
    </div>
  </main>
  <!--Main layout-->

  

{% endblock %}