{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    .rating {
        display: flex;
        padding: 0;
        margin: 0;
        outline: none;

    }
    .rating > li {
        display: inline;
        list-style: none;
        padding: 2px;
        cursor: pointer;
    }
</style>
<section style="background-color: #eee;">
    <div class="container py-5 my-5">
      <div class="row">
        <div class="col-lg-7">
                  <div class="card mb-4" style="border-radius: 15px;">
                    <div class="card-body text-center">
                      <div class="mt-3 mb-4">
                        {% if book.cover_photo %}
                        <img src="{{ book.cover_photo.url }}" alt="{{ book.title }}""
                          class="img-thumbnail img-fluid"/>
                          {% else %}
                        <img src="{% static 'assets/images/book-default.jpeg' %}"
                          class="img-thumbnail img-fluid" style="width: 320px;" />
                        {% endif %}

                      </div>
                    </div>
                  </div>
          
        </div>
        <div class="col-lg-5">
          <div class="card mb-4">
            <div class="card-body">
              <div class="row">
                <h4 class="mb-5">{{book.title}}</h4>
                <div class="col-sm-3">
                  <p class="mb-0">Author</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{book.author}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Published on</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{book.published_date}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Category</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{book.category.name}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Price</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">Tk.{{book.price}}</p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Rent</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">Tk.{{book.rent}}</p>
                </div>
              </div>
              <hr>
              <div class="row mb-4">
                <div class="col-sm-3">
                  <p class="mb-0">Status</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">
                {% if book.status == 'available' %}
                    Available
                {% elif book.status == 'sold' %}
                    Not Available
                {% else %}
                   Available from {{book.available_from}}
                {% endif %}

                  </p>
                </div>
              </div>
              <div class="d-flex justify-content-center text-center mb-2">
                {% if book.status == 'available' %}
                <a href="{% url 'order_create' book.id %}" type="button" class="btn btn-primary btn-rounded btn-lg">
                  Rent now
                </a> 
                {% else %}
                <button type="button" class="btn btn-primary btn-rounded btn-lg disabled">
                  Not Available For Rent Now
                </button> 
                {% endif %}
              </div>
            </div>
          </div>
         
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-md">
          <div class="card mb-4 mb-md-0">
            <div class="card-body">
              <h4 class="mb-4">Book Description
              </h4>
              <p class="card-text">
                {% lorem 3 b random %}
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-4">
        <div class="col-md">
          <div class="card mb-4 mb-md-0">
            <div class="card-body">
                <!-- <div class="card">
                    <div class="card-body p-4"> -->
                      <div class="d-flex flex-start w-100">
                        <img class="rounded-circle shadow-1-strong me-3"
                          src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(21).webp" alt="avatar" width="65"
                          height="65" />
                        <div class="w-100">
                          <h5>Add a review</h5>
                          <ul class="rating mb-3" data-mdb-toggle="rating">
                            <li>
                              <i class="far fa-star fa-sm text-danger" title="Bad"></i>
                            </li>
                            <li>
                              <i class="far fa-star fa-sm text-danger" title="Poor"></i>
                            </li>
                            <li>
                              <i class="far fa-star fa-sm text-danger" title="OK"></i>
                            </li>
                            <li>
                              <i class="far fa-star fa-sm text-danger" title="Good"></i>
                            </li>
                            <li>
                              <i class="far fa-star fa-sm text-danger" title="Excellent"></i>
                            </li>
                          </ul>
                          <div class="form-outline">
                            <textarea class="form-control" id="textAreaExample" rows="4"></textarea>
                            <label class="form-label" for="textAreaExample">What is your view?</label>
                          </div>
                          <div class="d-flex justify-content-between mt-3">
                            <!-- <button type="button" class="btn btn-success">Danger</button> -->
                            <button type="button" class="btn btn-primary">
                              Submit <i class="fas fa-long-arrow-alt-right ms-1"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    <!-- </div>
                  </div> -->
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md">
          <div class="card mb-4 mb-md-0">
            <div class="card-body">
              <h4 class="mb-4">Recent Reviews
              </h4>
              <div class="d-flex flex-start">
                <img class="rounded-circle shadow-1-strong me-3"
                  src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(31).webp" alt="avatar" width="65"
                  height="65" />
                <div class="card w-100">
                  <div class="card-body p-4">
                    <div class="">
                      <h5>Mindy Campbell</h5>
                      <p class="small">5 hours ago</p>
                      <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Delectus
                        cumque doloribus dolorum dolor repellat nemo animi at iure autem fuga
                        cupiditate architecto ut quam provident neque, inventore nisi eos quas?
                      </p>
            
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex align-items-center">
                          <a href="#!" class="link-muted me-2"><i class="fas fa-thumbs-up me-1"></i>158</a>
                          <a href="#!" class="link-muted"><i class="fas fa-thumbs-down me-1"></i>13</a>
                        </div>
                        <a href="#!" class="link-muted"><i class="fas fa-reply me-1"></i> Reply</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}



      <div class="row d-flex justify-content-center">
        <div class="col-md-11 col-lg-9 col-xl-7">
          <div class="d-flex flex-start mb-4">
            <img class="rounded-circle shadow-1-strong me-3"
              src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(32).webp" alt="avatar" width="65"
              height="65" />
            <div class="card w-100">
              <div class="card-body p-4">
                <div class="">
                  <h5>Johny Cash</h5>
                  <p class="small">3 hours ago</p>
                  <p>
                    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque
                    ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus
                    viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla.
                    Donec lacinia congue felis in faucibus ras purus odio, vestibulum in
                    vulputate at, tempus viverra turpis.
                  </p>
  
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex align-items-center">
                      <a href="#!" class="link-muted me-2"><i class="fas fa-thumbs-up me-1"></i>132</a>
                      <a href="#!" class="link-muted"><i class="fas fa-thumbs-down me-1"></i>15</a>
                    </div>
                    <a href="#!" class="link-muted"><i class="fas fa-reply me-1"></i> Reply</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          
        </div>
      </div>
    </div>
  </section>
