{% extends 'root.html' %}
{% load django_bootstrap5 %}

{% block content %}
<div class="my-3">
    {% if form.errors %}
    {% for field in form %}
    {% for error in field.errors %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ error }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endfor %}
    {% endif %}
    <h2 class="text-center my-4">Registration</h2>
               
            <form method="POST" class="form mx-auto">
            {% csrf_token %}
            <div class="input-group flex-nowrap mb-3">
                <span class="input-group-text">First Name</span>
                <input required type="text" name="first_name"  placeholder="First name..." aria-label="First name" class="form-control">
            </div>
                <div class="input-group flex-nowrap mb-3">
                <span class="input-group-text">Last Name</span>
                <input required type="text" name="last_name"  placeholder="Last name..." aria-label="Last name" class="form-control">
            </div>

            <div class="input-group mb-3">
                <span class="input-group-text" id="addon-wrapping">Email</span>
                <input required type="email" name="email" class="form-control" placeholder="Enter email..." aria-label="Username" aria-describedby="basic-addon1">
            </div>
            
            <div class="input-group flex-nowrap mb-3" >
                <span class="input-group-text" id="basic-addon1">Username</i></span>
                <input required type="text" name="username" class="form-control" placeholder="Enter username..." aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group flex-nowrap mb-3">
                <span class="input-group-text" id="basic-addon1">Password</i></span>
                <input required type="password" name="password1" class="form-control" placeholder="Enter password..." aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group flex-nowrap mb-3">
                <span class="input-group-text" id="basic-addon1">Confirm Password</i></span>
                <input required type="password" name="password2" class="form-control" placeholder="Enter password..." aria-label="Username" aria-describedby="basic-addon1">
            </div>
            {% bootstrap_button button_type="submit" content="Register" %}
            </form>      

</div>
{% endblock %}

